name: Check User Existence via Jenkins

on:
  workflow_dispatch:
    inputs:
      username:
        description: 'Username to check in /etc/passwd'
        required: true
        type: string

jobs:
  trigger-jenkins-job:
    runs-on: self-hosted

    steps:
      - name: Trigger Jenkins Job
        run: |
          echo "Checking user: ${{ github.event.inputs.username }}"

          CRUMB=$(curl -s -u "${{ secrets.JENKINS_ADMIN }}:${{ secrets.JENKINS_TOKEN }}" \
            "${{ secrets.JENKINS_URL }}/crumbIssuer/api/json" | jq -r .crumb)

          curl -s -X POST \
            -u "${{ secrets.JENKINS_ADMIN }}:${{ secrets.JENKINS_TOKEN }}" \
            -H "Jenkins-Crumb: $CRUMB" \
            "${{ secrets.JENKINS_URL }}/job/${{ secrets.JOB_NAME }}/buildWithParameters?USERNAME=${{ github.event.inputs.username }}"

      

